
rules_version = '2';

// Craft rules based on data in your Firestore database
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper to check authentication
    function isAuthenticated() {
      return request.auth != null;
    }

    match /companies/{companyId}/venues/{venueId}/compliance/{fileName} {
      allow read, write: if isAuthenticated();
    }
    
    // Allow timesheets
    match /companies/{companyId}/venues/{venueId}/timesheets/{fileName} {
      allow read, write: if isAuthenticated();
    }
    
    // Default deny
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
